<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personalhealth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="false"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.personalhealth.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.Alarms"
            android:label="@string/title_activity_alarms"
            android:parentActivityName="com.example.personalhealth.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.MainActivity" />
        </activity>
        <activity
            android:name="com.example.personalhealth.DisplayStorageActivity"
            android:label="@string/title_activity_display_storage"
            android:parentActivityName="com.example.personalhealth.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.MainActivity" />
        </activity>
        <activity
            android:name="com.example.personalhealth.Login"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.Login" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.Register"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.example.personalhealth.Register" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.Register" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.MainPage"
            android:label="@string/title_activity_main_page" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.MainPage" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.UserInformation"
            android:label="@string/title_activity_user_information" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.UpdateUserInformation"
            android:label="@string/title_activity_update_user_information" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.ViewDietInformation"
            android:label="@string/title_activity_view_diet_information" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.ViewDietInformation" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.UpdateDietInformation"
            android:label="@string/title_activity_update_diet_information" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.ViewDietInformation" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.New_Medication_2"
            android:label="@string/title_activity_new__medication_2" >
        </activity>
    </application>

</manifest>
