<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personalhealth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="false"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.personalhealth.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.Alarms"
            android:label="@string/title_activity_alarms"
            android:parentActivityName="com.example.personalhealth.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.MainActivity" />
        </activity>
        <activity
            android:name="com.example.personalhealth.DisplayStorageActivity"
            android:label="@string/title_activity_display_storage"
            android:parentActivityName="com.example.personalhealth.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.MainActivity" />
        </activity>
        <activity
            android:name="com.example.personalhealth.Login"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.Login" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.Register"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.example.personalhealth.Register" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.Register" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.MainPage"
            android:label="@string/title_activity_main_page" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.MainPage" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.UserInformation"
            android:label="@string/title_activity_user_information"
            android:parentActivityName="com.example.personalhealth.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.UpdateUserInformation"
            android:label="@string/title_activity_update_user_information" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.ViewDietInformation"
            android:parentActivityName="com.example.personalhealth.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.UpdateDietInformation"
            android:label="@string/title_activity_update_diet_information" 
            android:parentActivityName="com.example.personalhealth.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.New_Medication_2"
            android:label="@string/title_activity_new__medication_2" >
        </activity>
        <activity
            android:name="com.example.personalhealth.View_Vital_Signs"
            android:label="@string/title_activity_view__vital__signs" >
        </activity>
        <activity
            android:name="com.example.personalhealth.Vitals_Screen"
            android:label="@string/title_activity_vitals__screen"
            android:parentActivityName="com.example.personalhealth.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.Vitals_Check_Screen"
            android:label="@string/title_activity_vitals__check__screen" >
        </activity>
        <activity
            android:name="com.example.personalhealth.Bad_New_Vitals"
            android:label="@string/title_activity_bad__new__vitals" >
        </activity>
        <activity
            android:name="com.example.personalhealth.Current_Medication"
            android:label="@string/title_activity_current__medication" >
        </activity>
        <activity
            android:name="com.example.personalhealth.Medication_Screen"
            android:label="@string/title_activity_medication__screen"
            android:parentActivityName="com.example.personalhealth.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.New_Vitals"
            android:label="@string/title_activity_new__vitals" >
        </activity>
        <activity
            android:name="com.example.personalhealth.New_Medication_3"
            android:label="@string/title_activity_new__medication_3" >
        </activity>
        <activity
            android:name="com.example.personalhealth.New_Medication_Checker"
            android:label="@string/title_activity_new__medication__checker" >
        </activity>
        <activity
            android:name="com.example.personalhealth.New_Medication"
            android:label="@string/title_activity_new__medication" >
        </activity>
        <activity
            android:name="com.example.personalhealth.AddNewDoctor"
            android:label="@string/title_activity_add_new_doctor" >
        	<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.ViewDoctors" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.AddNewAppointment"
            android:label="@string/title_activity_add_new_appointment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.ViewAppointment" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.ViewAppointment"
            android:label="@string/title_activity_view_appointment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.UserInformation" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.personalhealth.ViewDoctors"
            android:label="@string/title_activity_view_doctors" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.personalhealth.UserInformation" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
